body {
    background: url('/assets/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
nav{
    background-color: #fff;
}
.front-bg{
    padding: 0px;
    margin: 0px;
}
.front-bg img {
    margin: 0px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content{
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
}
.navbar{
    border-radius: 0px;
    margin-bottom: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #fff;
    border-color: #333;
}
.navbar ul li a{
    color: #66757f;
}
.navbar ul>li>a:hover,
.navbar ul>li>a:focus{
    background-color: #fff;
    color: #337ab7;
}
.navbar-brand img{
    float: left;
    width: 23px;
    height: auto;
    margin-right: 5px;
}
.navbar-brand span{
    color: lightgreen;
}
.col-md-3>img{
    width: 80px;
    height: auto;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";

    /* IE 5-7 */
    filter: alpha(opacity=70);

    /* Netscape */
    -moz-opacity: 0.7;

    /* Safari 1.x */
    -khtml-opacity: 0.7;

    /* Good browsers */
    opacity: 0.7;
}
.col-md-3>label{
    color: #ffdcb0;
}
.list-inline{
    margin: 40px auto 0px auto;
}
.list-inline li>a{
    color: #fff;
    display: block;
}
.box-form{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

    /* IE 5-7 */
    filter: alpha(opacity=90);

    /* Netscape */
    -moz-opacity: 0.9;

    /* Safari 1.x */
    -khtml-opacity: 0.9;

    /* Good browsers */
    opacity: 0.9;
}
.btn-login{
    background-color: #3fa0f3;
    color: #fff;
}
.btn-login:hover{
    background-color: #3d92da;
    color: #fff;
}
.btn-register{
    background-color: #146f62;
    color: #fff;
}
.btn-register:hover{
    background-color: #0f5249;
    color: #fff;
}
form p{
    margin-top: 10px;
}
.footer{
    position: fixed;
    bottom: 20px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}