*{margin: 0px;}
a:hover{
    text-decoration: none;
}
body{
    background-color: #f9f9f9;
}
.navbar-theme{
    background-color: #45275d;
    color: #fff;
}
.navbar-theme a{
    color: #fff;
    background-color: #45275d;
}
.navbar-theme .navbar-brand img{
    float:left;
    margin-right: 5px;
}
.navbar-theme .navbar-brand span{
    color: lightgreen;
}
.navbar-theme li a:hover,
.navbar-theme li a:visited{
    color: #fff;
    background-color: #45275d;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #45275d;
    border-color: #337ab7;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #45275d;
}
.page-content{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: auto;
    padding-top: 30px;
}
.sidebar-left,
.content-center,
.content-info,
.sidebar-right{
    padding-top: 15px;
}
.content-center>.box,
.content-info>.box,
.sidebar-right>.box{
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}
.sidebar-left{
    background-color: #f7f7f7;
    height: 100vh;
    width: 210px;
    padding: 15px 0px 15px 8px;
    border-right: 1px solid lightgray;
    position: fixed;
    left: 0px;
    top: 40px;
}
.sidebar-left .sidebar-box{
    overflow-x: hidden;
    overflow-y: auto;
    height: 77%;
}
.box-min{
    min-height: 550px;
}
.scroll-style::-webkit-scrollbar-track{
    background-color: #F5F5F5;
}
.scroll-style::-webkit-scrollbar:hover,
.scroll-style::-webkit-scrollbar:active{
    width: 8px;
}
.scroll-style::-webkit-scrollbar{
    width: 5px;
    background-color: #F5F5F5;
}
.scroll-style::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
    border-radius: 100px;
}
.sidebar-left .sidebar-search{
    position: absolute;
    bottom: 55px;
    left: 7px;
}
.sidebar-left .sidebar-info a{
    display: block;
    margin: 0px;
    padding: 10px 0px;
}
.list-friend li a{
    display: block;
    color: #333;
    padding: 5px 0px;
    position: relative;
}
.list-friend li a i{
    background-color: lightgreen;
    border-radius: 10px;
    padding: 2px;
    font-size: 7px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 15px;
}
.box-chat{
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #eee;
    margin-top: 5px;
}
.box-chat .col-md-2 > small{
    margin: 0px -20px 0px 20px;
}
.box-chat .message-left,
.box-chat .message-right{
    border-radius: 7px;
    padding: 5px;
}
.box-chat .message-left{
    background-color: #f3f3f3;
    color: #5d5d5d;
    margin: 0px 20px 10px 0px;
}
.box-chat .message-right{
    background-color: #40b379;
    color: #fff;
    margin: 0px -25px 10px 100px;
}
.box-chat .time-box-message{
    position: absolute;
    top: 10px;
    right: 30px;
    color: #adadad;
}
.form-chats textarea{
    height: 70px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-color: lightgray;
    border-width: 1px 1px 1px 5px;
}
.input-search{
    border-radius: 20px;
}
.img-acc:hover{
    border: 1px solid #fff;
}
.img-avatar{
    height: 40px;
    width: 40px;
}
.img-avatar-comment{
    height: 35px;
    width: 35px;
}
.btn-theme{
    background-color: #45275d;
    color: #fff;
}
.btn-theme:hover{
    background-color: #5e377d;
    color: #fff;
}
.btn-outline{
    background-color: #fff;
    color: #45275d;
    border: 1px solid #45275d;
}
.btn-outline:hover{
    background-color: #5e377d;
    color: #fff;
    border: 1px solid #45275d;
}
.status textarea{
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: solid 1px #e2e2e2;
    resize: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.post input{
    height: 35px;
    width: 100%;
    padding: 0 7px;
    border: solid 1px #e2e2e2;
}
.area-status{
    min-height: 90px;
}
.m-r-5{
    margin-right: 5px;
}
.m-l-5{
    margin-left: 5px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-t-5{
    margin-top: 5px;
}
.m-r-10{
    margin-right: 10px;
}
.m-l-10{
    margin-left: 10px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-t-10{
    margin-top: 10px;
}
.textarea-default{
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 100px;
    padding: 5px;
}
.input-default{
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 33px;
    padding: 5px 10px;
}
.select-default{
    border: 1px solid #e2e2e2;
    width: 100%;
    height: 33px;
    padding: 5px 10px;
}
.list-users-keyup{
    position: fixed;
    background-color: #fff;
    top: 52px;
    left: 241px;
    width: 400px;
    max-height: 350px;
    min-height: 40px;
    overflow: auto;
    border: 1px solid #b9b9b9;
    padding: 5px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.list-users-keyup a{
    display:block;
    padding:3px 5px;
    position: relative;
    color: #333;
}
.list-users-keyup a small{
    color:#adadad;
    position: absolute;
    top: 15px;
    right: 10px;
}
.list-users-keyup a:hover,
.list-users-keyup a:hover small{
    background-color: #40b379;
    color: #fff;
}
.img-circle{
    border: 1px solid #dadada;
}
/* enable absolute positioning */
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.group-search-top{
    margin-left: 94px;
    position: relative;
}
.group-search-top>a{
    position: absolute;
    right: 15px;
    top: 7px;
    background-color: #fff;
}
.text-online{
    color: lightgreen;
}
.circle-online{
    color: lightgreen;
    font-size: 10px;
}
.first-message{
    font-size: 13px;
    color: #adadad;
}
.badge-warning{
    background-color: #ffa500;
    font-size: 10px;
}
.btn-li-dropdown{
    padding: 3px 50px 3px 20px;
    background-color: #fff;
    border: none;
}
.btn-li-dropdown:hover{
    background-color: #f5f5f5;
}
.btn-theme.focus, .btn-theme:focus, .btn-theme:hover {
    color: #fff;
    text-decoration: none;
}
.img-preview{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.img-hover-shadow{
    border: 1px solid #ececec;
}
.img-hover-shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 992px) {
    .list-dropdown li a{
        color: gray !important;
        background-color: #fff !important;
    }
    .list-dropdown li a:hover{
        color: #fff !important;
        background-color: #614379 !important;
    }
}