*{margin: 0px;}
body{
    background-color: #f2f2f2;
}
a:hover{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
select{
    border-radius: 0px !important;
}
textarea{
    border-radius: 0px !important;
    min-height: 100px !important;
    resize: vertical;
}
input{
    border-radius: 0px !important;
}
@font-face {
    font-family: thuphap;
    src: url(assets/fonts/VNI-Thuphap1.ttf);
}
